body {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  display: flex;
  justify-content: center;
  background-color: antiquewhite;
  height: 100vh;
  align-items: center;
  justify-content: center;
}
.form-container {
  background-color: azure;
  display: flex;
  flex-direction: column;
  padding: 30px;
  border-radius: 10px;
}
.form-title {
  font-size: large;
  align-self: center;
  font-weight: 900;
  text-decoration: underline;
}
.form-input-container {
  display: flex;
  padding: 5px;
  border: 1px solid red;
  border-radius: 20px;
  align-items: center;
  margin-bottom: 10px;
}
input {
  outline: none;
  border: 0;
  border-left: 1px solid;
  background-color: transparent;
}
.label-container {
  width: 30%;
}
.label {
  margin-right: 5px;
  margin-left: 5px;
  font-size: 12px;
  font-weight: 900;
}
.button {
  background-color: aquamarine;
  border: none;
  padding: 10px;
  border-radius: 30px;
  margin-bottom: 5px;
  cursor: pointer;
  font-weight: bolder;
}
a {
  text-decoration: none;
  margin-top: 6px;
  align-self: center;
}
